.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50rem;
    flex-grow: 1;
    padding-top: 4rem;
}

.user-form-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

label {
    font-weight: bold;
    padding-bottom: 0.5rem; 
}

input[type=text] {
    margin-bottom: 1rem;
    width: 35%;
    text-align: center;
    border-radius: 0.2rem;
}

select {
    margin-bottom: 1rem;
    width: 35%;
    text-align: center;
}

input[type=button] {
    width: 7rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0.15rem 0.15rem #A8A8A8;
}

input[type=button]:hover {
    cursor: pointer;
    background: #4694C2;
}
